* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}


main {
    width: 80%;
    margin: 3rem;
}

.div {
    width: 40%;
    border: 2px solid black;
}

section {
    margin: 1rem 0;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    color: green;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

h3 {
    color: blue;
    font-size: 1.1rem;
    font-weight: 500;
}

ul {
    list-style-position: inside;
}

.second-experience {
    margin: 1rem 0 0;
}

